<!DOCTYPE html>
<html>
  <head>
    <title>Acortador de URLs</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-900 min-h-screen flex flex-col text-white">
    <nav class="bg-gray-800 p-6 text-white flex justify-between items-center">
      <div>
        <img src="../static/images/logo.png" alt="Logo" class="size-20" />
      </div>
      <div class="mx-auto">
        <a
          href="#"
          class="font-bold text-2xl hover:text-gray-300 hover:cursor-default -ml-14"
        >
          Acortar URL
        </a>
      </div>
    </nav>

    <div class="flex flex-col items-center justify-center flex-grow bg-bl">
      <div
        class="border-2 border-gray-800 p-16 bg-gray-800 rounded-xl hover:shadow-[0_0_15px_5px] hover:shadow-[#007af4] transition-all duration-300 animate-shadow-change"
      >
        <h1 class="text-2xl font-bold text-center mb-16">Acortador de URLs</h1>

        <form id="shortenForm">
          <input
            class="border bg-gray-700 p-2 rounded-lg mb-4 w-full"
            type="url"
            id="originalUrl"
            placeholder="https://ejemplo.com"
            required
          />
          <input
            class="border bg-gray-700 p-2 rounded-lg mb-4 w-full"
            type="text"
            id="customAlias"
            placeholder="mi-alias (opcional)"
          />
          <div class="flex justify-center">
            <button
              class="bg-[#0179f3] text-white font-bold py-2 px-4 rounded-lg"
              type="submit"
            >
              Acortar
            </button>
          </div>
        </form>
        <div class="flex-col items-center mt-5 hidden" id="resultContainer">
          <div
            class="bg-gray-700 p-6 text-white justify-center items-center font-bold mt-4 rounded-lg w-full"
            id="result"
          ></div>
            <button id="copyButton" class="bg-[#0179f3] text-white font-bold py-2 px-4 rounded-lg mt-4">
              Copiar
            </button>
        </div>
      </div>
    </div>

    <script src="../static/js/main.js"></script>
  </body>
</html>
